.next-btn{
    /* position: absolute; */
    position: relative;
    width: 15vmin;
    height: 15vmin;
    animation: down 1s ease-in-out, move 1s infinite;
    cursor: pointer;
}

.next-btn::before{
    content: "\e695";
    font-family: "iconfont" !important;
    font-size: 100px;
    font-size: 15vmin;
}

.next-btn::after{
    content: "End Chat";
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 3vmin;
}

@keyframes down {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}

@keyframes move {
    0% {
        top: 16vmin
    }

    50%{
        top: 20vmin
    }

    100% {
        top: 16vmin
    }
}
